In [1]:
#importing the Libraries#
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the Dataset#
dataset=pd.read_csv('churn_preprocess_data.csv')

In [3]:
#what saved in this file#
dataset

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,0,5,27.43,137.15,Male,Yes,Yes,No,Yes,No,No,Yes,No,No,No,No internet service,Month-to-month,Yes,Credit card,Yes
1,0,42,38.28,1607.76,Female,No,No,Yes,No phone service,DSL,Yes,Yes,No,No,No internet service,No internet service,Two year,No,Electronic check,Yes
2,0,61,106.44,6492.84,Male,No,No,Yes,No phone service,No,No,Yes,No,Yes,Yes,No,One year,No,Bank transfer,Yes
3,1,22,92.49,2034.78,Male,No,Yes,Yes,No,No,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,No
4,1,21,19.63,412.23,Male,Yes,Yes,No,No,DSL,No,No,No internet service,No,No,No internet service,One year,No,Bank transfer,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42.52,2593.72,Female,No,Yes,No,Yes,DSL,No,No internet service,Yes,No internet service,No,No,One year,Yes,Electronic check,No
296,0,49,22.31,1093.19,Female,No,No,Yes,No phone service,DSL,No internet service,No,Yes,No internet service,Yes,Yes,Month-to-month,Yes,Mailed check,Yes
297,0,71,59.57,4229.47,Male,No,Yes,Yes,Yes,DSL,No internet service,No,Yes,Yes,No,Yes,Two year,No,Mailed check,Yes
298,1,1,31.32,31.32,Male,Yes,Yes,Yes,Yes,No,Yes,No internet service,No internet service,No internet service,Yes,Yes,Two year,No,Credit card,No
299,1,13,20.50,266.50,Female,Yes,Yes,Yes,Yes,DSL,No internet service,No internet service,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,Yes

In [4]:
#create dummy data set. #drop a column#
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#what saved in this file#
dataset

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,5,27.43,137.15,1,1,1,0,0,1,...,0,1,0,0,0,1,1,0,0,1
1,0,42,38.28,1607.76,0,0,0,1,1,0,...,0,1,0,0,1,0,0,1,0,1
2,0,61,106.44,6492.84,1,0,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,1,22,92.49,2034.78,1,0,1,1,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1,21,19.63,412.23,1,1,1,0,0,0,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42.52,2593.72,0,0,1,0,0,1,...,0,0,0,1,0,1,0,1,0,0
296,0,49,22.31,1093.19,0,0,0,1,1,0,...,1,0,1,0,0,1,0,0,1,1
297,0,71,59.57,4229.47,1,0,1,1,0,1,...,0,0,1,0,1,0,0,0,1,1
298,1,1,31.32,31.32,1,1,1,1,0,1,...,1,0,1,0,1,0,1,0,0,0
299,1,13,20.50,266.50,0,1,1,1,0,1,...,0,0,1,0,0,0,0,1,0,1

In [6]:
#catogorical data convert to numerical data#
dataset=dataset.astype(int)

In [7]:
#what saved in this file#
dataset

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,5,27,137,1,1,1,0,0,1,...,0,1,0,0,0,1,1,0,0,1
1,0,42,38,1607,0,0,0,1,1,0,...,0,1,0,0,1,0,0,1,0,1
2,0,61,106,6492,1,0,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,1,22,92,2034,1,0,1,1,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1,21,19,412,1,1,1,0,0,0,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42,2593,0,0,1,0,0,1,...,0,0,0,1,0,1,0,1,0,0
296,0,49,22,1093,0,0,0,1,1,0,...,1,0,1,0,0,1,0,0,1,1
297,0,71,59,4229,1,0,1,1,0,1,...,0,0,1,0,1,0,0,0,1,1
298,1,1,31,31,1,1,1,1,0,1,...,1,0,1,0,1,0,1,0,0,0
299,1,13,20,266,0,1,1,1,0,1,...,0,0,1,0,0,0,0,1,0,1

In [8]:
dataset["Churn_Yes"].value_counts()

0    161
1    139
Name: Churn_Yes, dtype: int64

In [9]:
#show all columns in dataset#
dataset.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges',
       'gender_Male', 'Partner_Yes', 'Dependents_Yes', 'PhoneService_Yes',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No internet service', 'StreamingMovies_Yes',
       'Contract_One year', 'Contract_Two year', 'PaperlessBilling_Yes',
       'PaymentMethod_Credit card', 'PaymentMethod_Electronic check',
       'PaymentMethod_Mailed check', 'Churn_Yes'],
      dtype='object')

In [10]:
#independent variable means input.  #split input variables. #dataset assigned to independent variable#
independent=dataset[['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges',
       'gender_Male', 'Partner_Yes', 'Dependents_Yes', 'PhoneService_Yes',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No internet service', 'StreamingMovies_Yes',
       'Contract_One year', 'Contract_Two year', 'PaperlessBilling_Yes',
       'PaymentMethod_Credit card', 'PaymentMethod_Electronic check',
       'PaymentMethod_Mailed check']]

In [11]:
#what saved in this file#
independent

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,5,27,137,1,1,1,0,0,1,...,0,0,1,0,0,0,1,1,0,0
1,0,42,38,1607,0,0,0,1,1,0,...,1,0,1,0,0,1,0,0,1,0
2,0,61,106,6492,1,0,0,1,1,0,...,0,1,0,0,1,0,0,0,0,0
3,1,22,92,2034,1,0,1,1,0,0,...,1,0,0,1,0,0,0,0,1,0
4,1,21,19,412,1,1,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,61,42,2593,0,0,1,0,0,1,...,0,0,0,0,1,0,1,0,1,0
296,0,49,22,1093,0,0,0,1,1,0,...,0,1,0,1,0,0,1,0,0,1
297,0,71,59,4229,1,0,1,1,0,1,...,0,0,0,1,0,1,0,0,0,1
298,1,1,31,31,1,1,1,1,0,1,...,0,1,0,1,0,1,0,1,0,0
299,1,13,20,266,0,1,1,1,0,1,...,1,0,0,1,0,0,0,0,1,0

In [12]:
#dependent variable means output.  #split output variables. #dataset assigned to dependent variable#
dependent=dataset[['Churn_Yes']]

In [13]:
#what saved in this file#
dependent

     Churn_Yes
0            1
1            1
2            1
3            0
4            1
..         ...
295          0
296          1
297          1
298          0
299          1

[300 rows x 1 columns]

In [14]:
#machine learning algorithms provider is sklearn #split train set and test set#
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30,random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

# Defining the parameter grid for RandomForestClassifier
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Create the GridSearchCV object for RandomForestClassifier
grid = GridSearchCV(RandomForestClassifier(), param_grid, refit=True, verbose=3, n_jobs=-1, scoring='f1_weighted', cv=5)

# Fit the model with training data
grid.fit(X_train, y_train)

# Print the best parameters and the best score
print("Best parameters:", grid.best_params_)
print("Best score:", grid.best_score_)

Fitting 5 folds for each of 324 candidates, totalling 1620 fits

TerminatedWorkerError: A worker process managed by the executor was unexpectedly terminated. This could be caused by a segmentation fault while calling the function or by an excessive memory usage causing the Operating System to kill the worker.

In [ ]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
y_pred = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

In [ ]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

In [ ]:
print("The confusion Matrix:\n",cm)

In [ ]:
print(clf_report)

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

In [ ]:
table=pd.DataFrame.from_dict(re)

In [ ]:
table

In [ ]:
import pickle
filename="finalized_model_gnb.sav"

In [ ]:
#pickle.dump(regressor,open(filename,'wb'))
pickle.dump(grid.best_estimator_, open(filename, 'wb'))

In [ ]:
preinput=sc.transform([[1300,1200,4000,0,1,0,1,0,1,1,1,0,0,0,0,1,0,0,0,0,1,0,1,0,1]])

In [ ]:
preinput

In [ ]:
#load the saved model and gets input# 
loaded_model=pickle.load(open("finalized_model_gnb.sav",'rb'))
result=loaded_model.predict(preinput)

In [ ]:
#prediction value#
result